@import '~styles/var.scss';

.blog-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 8;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  overflow: hidden;
  .close {
    position: absolute;
    right: 10px;
    top: 16px;
    width: 18px;
    height: 18px;
    background: url(~icons/close-thin.svg) no-repeat right center;
    background-size: 18px 18px;
    z-index: 8;
  }
  .mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .nav {
    position: relative;
    float: right;
    width: 200px;
    height: 100%;
    padding: $side-bar-header-width + 10;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.3s cubic-bezier(.92,.12,.12,.91);
  }
  &.opened {
    opacity: 1;
    pointer-events: auto;
    .nav {
      transform: translate3d(0, 0, 0);
    }
  }
}
