<footer class="footer flex">
  <div class="flex-item0 lighter">theme <strong>coder</strong> by <a href="https://github.com/rangzf">rangzf</a></div>
  <div class="flex-item info">
    <span class="J-reading-time"></span>
  </div>
</footer>