<footer class="footer flex">
  <div class="flex-item0 lighter"><a href="https://github.com/rangzf/vscode-ghost-theme" target="_blank">vscode-ghost-theme</a> by <a href="https://github.com/rangzf">rangzf</a></div>
  <div class="flex-item info">
    <span class="J-reading-time"></span>
  </div>
</footer>