<footer class="footer flex">
  <div class="flex-item0 lighter powered">Powered with
    <a href="https://ghost.org/">Ghost</a>&nbsp;&amp;
    <a href="https://github.com/rangzf/ghostcode" target="_blank">ghostcode</a>
  </div>
  <div class="flex-item meta">
    <span class="J-reading-time"></span>
  </div>
</footer>