<footer class="footer flex">
  <div class="flex-item0 lighter"><a href="https://github.com/rangzf/ghostcode" target="_blank">ghostcode</a> by <a href="https://github.com/rangzf">rangzf</a></div>
  <div class="flex-item info">
    <span class="J-reading-time"></span>
  </div>
</footer>