@import '~styles/var.scss';

.blog-tree {
  position: relative;
  height: 100%;
  overflow: auto;
  .blog-tree-posts {
    transition: height 0.15s;
    overflow: hidden;
  }
  .blog-tree-tag {
    &.post-hidden {
      .blog-tree-tagname {
        .icon-arrow-right {
          transform: rotate(0deg);
        }
      }
      .blog-tree-posts {
        height: 0 !important;
      }
    }
  }
  .blog-tree-tagname,
  .blog-tree-post-title,
  .blog-tree-no-posts {
    display: block;
    padding: 0 12px;
    height: 26px;
    line-height: 26px;
    transition: background 0.3s;
  }
  .blog-tree-post-title,
  .blog-tree-no-posts {
    padding-left: 32px;
    &:hover {
      text-decoration: none;
    }
  }
  .blog-tree-post-title {
    .icons {
      float: left;
      content: '';
      width: 20px;
      height: 100%;
      .icon-article {
        display: inline;
      }
      .icon-article-opened {
        display: none;
      }
      opacity: 0.8;
    }
  }
  .active {
    .blog-tree-post-title {
      .icon-article {
        display: none;
      }
      .icon-article-opened {
        display: inline;
      }
    }
  }
  .blog-tree-tagname {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    .icon-arrow-right {
      float: left;
      font-size: 18px;
      margin: 4px 0 0;
      transition: transform 0.2s;
      transform: rotate(45deg);
    }
  }
  .untaged-posts {
    a {
      padding-left: 18px;
    }
  }
}
