@import "~styles/var.scss";

.side-bar-body {
  width: $side-bar-body-width;
  header {
    padding: 5px 15px;
    .title {
      text-transform: uppercase;
    }
    .extra {
      text-align: right;
    }
  }
}
