a,
a:active {
  color: $editor-foreground;
}
& {
  background: $editor-background;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $scrollbarSlider-background;
  &:hover {
    background: $scrollbarSlider-hoverBackground;
  }
}

.site-wrapper {
  color: $editor-foreground;
  background: $editor-background;
}

.blog-header,
.side-bar-header,
.blog-nav .nav {
  background: $debugToolBar-background;
}
.side-bar-body {
  background: $sideBar-background;
}
.blog-tree {
  .blog-tree-tagname,
  .blog-tree-post {
    &.active {
      background: $list-activeSelectionBackground;
    }
    &:hover:not(.active) {
      background: $list-hoverBackground;
    }
  }
}

.search-box {
  background: $sideBar-background;
  .input-search {
    color: $input-foreground;
    border: 1px solid $input-border;
    background: $input-background;
    &:focus {
      border-color: $inputOption-activeBorder;
    }
    &::placeholder {
      color: $input-placeholderForeground;
    }
  }
  .search-results-amount {
    color: $badge-foreground;
    background: $sideBar-background;
    b {
      color: $badge-foreground;
    }
  }
  .search-result-item {
    color: $sideBar-foreground;
    &:hover {
      background: $list-hoverBackground;
    }
    &.active {
      background: $list-activeSelectionBackground;
    }
  }
}

.post-tab {
  .home-entry {
    box-shadow: 3px 6px 6px $editor-background;
    background-color: $editorGroupHeader-tabsBackground;
  }
  .item {
    border-right: 1px solid $tab-border;
    background: $tab-inactiveBackground;
  }
  .active {
    background: $editor-background;
  }
  .scroller {
    background-color: $editorGroupHeader-tabsBackground;
  }
}

.footer {
  box-shadow: 0 -1px 2px darken($statusBar-background, 10%);
  color: $statusBar-foreground;
  background: $statusBar-background;
}

.post {
  background: $editor-background;
}

.link {
  color: $textLink-foreground;
}
