&,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
.typo-em,
.typo em,
legend,
caption,
a,
a:active {
  color: $editor-foreground;
}
& {
  background: $editor-background;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $scrollbarSlider-background;
  &:hover {
    background: $scrollbarSlider-hoverBackground;
  }
}

.site-wrapper {
  color: $editor-foreground;
  background: $editor-background;
}

.blog-header,
.side-bar-header {
  color: $activityBar-foreground;
  background: $activityBar-background;
}
.blog-header {
  .blog-title,
  a {
    color: $activityBar-foreground;
  }
}
.side-bar-header {
  [role='menuitem'] a,
  .menuitem {
    background-color: $activityBar-foreground;
  }
}
.side-bar-body {
  background: $sideBar-background;
}
.blog-tree {
  .blog-tree-tagname,
  .blog-tree-post {
    &.active {
      background: $list-activeSelectionBackground;
    }
    &:hover:not(.active) {
      background: $list-hoverBackground;
    }
  }
}

.search-box {
  background: $sideBar-background;
  .input-search {
    color: $input-foreground;
    border: 1px solid $input-border;
    background: $input-background;
    &:focus {
      border-color: $inputOption-activeBorder;
    }
    &::placeholder {
      color: $input-placeholderForeground;
    }
  }
  .search-results-amount {
    color: $badge-foreground;
    background: $sideBar-background;
  }
  .search-result-item {
    color: $sideBar-foreground;
    &:hover {
      background: $list-hoverBackground;
    }
    &.active {
      background: $list-activeSelectionBackground;
    }
  }
}

.post-tab {
  .item {
    border-right: 1px solid $tab-border;
    background: $tab-inactiveBackground;
  }
  .active {
    background: $editor-background;
  }
  .container {
    background-color: $editorGroupHeader-tabsBackground;
  }
}

.footer {
  box-shadow: 0 -1px 2px darken($statusBar-background, 10%);
  color: darken($statusBar-foreground, 10%);
  background: $statusBar-background;
  a {
    color: $statusBar-foreground;
  }
}

@media (max-width: 700px) {
  .footer {
    color: $editor-foreground;
  }
}

.post {
  background: $editor-background;
}

.link {
  color: $textLink-foreground;
}
