$editor-foreground: #fff;
$sideBar-background: transparent;
$list-hoverBackground: #303334;
$tab-inactiveBackground: #333;
$tab-activeBackground: #1E1E1E;
$sideBar-background: #2a2a2b;
$debugToolBar-background: #3a3a3a;
$list-activeSelectionBackground: #05507c;
$statusBar-background: #0285d2;
$statusBar-foreground: #fff;
$tab-border: #2a2a2b;
$input-border: transparent;
$inputOption-activeBorder: #245d81;
$input-foreground: #fff;
$input-background: #444;
$editorGroupHeader-tabsBackground: #333;
$input-placeholderForeground: #fff;
$sideBar-foreground: #fff;
$badge-foreground: #fff;
$scrollbarSlider-background: #646464;
$scrollbarSlider-hoverBackground: #5b5b5b;
$textLink-foreground: #4080D0;