<section class="search-box flex flex-col hidden" id="J-search-box">
  <header class="light flex">
    <div class="title flex-item0">search</div>
    <div class="extra flex-item"><span class="clear-results J-search-clear lighter hover-opacity1" title="clear results"></span></div>
  </header>
  <form class="search-form">
    <input type="text" placeholder="Search" class="input-search J-input-search" tabindex="1">
  </form>
  <div class="search-results flex-item" id="J-search-results"></div>
</section>