.theme-dark-default {
$editor-foreground: #fff;
$sideBar-background: transparent;
$list-hoverBackground: #303334;
$tab-inactiveBackground: #333;
$tab-activeBackground: #1E1E1E;
$sideBar-background: #2a2a2b;
$debugToolBar-background: #3a3a3a;
$list-activeSelectionBackground: #05507c;
$statusBar-background: #0285d2;
$statusBar-foreground: #fff;
$tab-border: #2a2a2b;
$input-border: transparent;
$inputOption-activeBorder: #245d81;
$input-foreground: #fff;
$input-background: #444;
$editorGroupHeader-tabsBackground: #333;
$input-placeholderForeground: #fff;
$sideBar-foreground: #fff;
$badge-foreground: #fff;
$scrollbarSlider-background: #646464;
$scrollbarSlider-hoverBackground: #5b5b5b;
$textLink-foreground: #4080D0;

  $editor-background: #1E1E1E;
  $editor-foreground: #D4D4D4;
  $editor-inactiveSelectionBackground: #3A3D41;
  $editorIndentGuide-background: #404040;
  $editor-selectionHighlightBackground: #ADD6FF26;
  $list-dropBackground: #383B3D;
  $activityBarBadge-background: #007ACC;
  $sideBarTitle-foreground: #BBBBBB;

a,
a:active {
  color: $editor-foreground;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $scrollbarSlider-background;
  &:hover {
    background: $scrollbarSlider-hoverBackground;
  }
}

.site-wrapper {
  color: $editor-foreground;
  background: $editor-background;
}

.side-bar-header {
  background: $debugToolBar-background;
}

.side-bar-body {
  background: $sideBar-background;
}
.blog-tree {
  .blog-tree-tagname,
  .blog-tree-post {
    &.active {
      background: $list-activeSelectionBackground;
    }
    &:hover:not(.active) {
      background: $list-hoverBackground;
    }
  }
}

.search-box {
  background: $sideBar-background;
  .input-search {
    color: $input-foreground;
    border: 1px solid $input-border;
    background: $input-background;
    &:focus {
      border-color: $inputOption-activeBorder;
    }
    &::placeholder {
      color: $input-placeholderForeground;
    }
  }
  .search-results-amount {
    color: $badge-foreground;
    background: $sideBar-background;
    b {
      color: $badge-foreground;
    }
  }
  .search-result-item {
    color: $sideBar-foreground;
    &:hover {
      background: $list-hoverBackground;
    }
    &.active {
      background: $list-activeSelectionBackground;
    }
  }
}

.post-tab {
  .home-entry {
    box-shadow: 3px 6px 6px $editor-background;
    background-color: $editorGroupHeader-tabsBackground;
  }
  .fixed {
    // box-shadow: 0 0 2px $tab-border;
  }
  .item {
    border-right: 1px solid $tab-border;
    background: $tab-inactiveBackground;
  }
  .active {
    background: $editor-background;
  }
  .scroller {
    background-color: $editorGroupHeader-tabsBackground;
  }
}

.footer {
  box-shadow: 0 -1px 2px darken($statusBar-background, 10%);
  color: $statusBar-foreground;
  background: $statusBar-background;
}

.post {
  background: $editor-background;
}

.link {
  color: $textLink-foreground;
}


}