@import '~styles/var.scss';

.post-tab {
  position: relative;
  height: $post-tab-height;
  line-height: $post-tab-height;
  cursor: pointer;
  .container {
    width: 100%;
    overflow: auto;
  }
  .item {
    position: relative;
    height: 100%;
    padding: 0 35px 0 15px;
    max-width: 300px;
    transition: opacity 0.3s;
    .close {
      display: none;
      position: absolute;
      right: 15px;
      top: ($post-tab-height - 10)/2;
      width: 10px;
      height: 10px;
      background: url(~icons/close.svg) no-repeat center center;
      background-size: 10px 10px;
    }
    &.active {
      opacity: 1;
      .close {
        display: inline;
      }
    }
    &:hover {
      .close {
        display: inline;
      }
    }
  }
}
