<nav class="side-bar-header flex-item0" id="J-sidebar-header">
  <div class="logo item active J-sidebar-item J-sidebar-logo" data-name="logo" style="background-image: url({{@blog.logo}});"></div>
  <a href="/" class="home item light hover-opacity1"></a>
  <div class="search item light hover-opacity1 J-sidebar-search J-sidebar-item" data-name="search"></div>
</nav>
<header class="flex blog-header flex-middle">
  <div class="logo flex-item0" style="background-image: url({{@blog.logo}});"></div>
  <div class="blog-title flex-item">{{@blog.title}}</div>
  <div class="blog-nav-trigger J-blog-nav-trigger flex-item0"></div>
</header>