<section class="side-bar-header flex-item0" id="J-sidebar-header">
  <div class="logo item active J-sidebar-logo" data-name="logo" style="background-image: url({{@blog.logo}});"></div>
  <a href="/" class="home item light hover-opacity1"></a>
  <div class="search item light hover-opacity1 J-sidebar-search" data-name="search"></div>
  <div class="skin item light hover-opacity1 J-skin">
    <select name="theme-selector" id="J-theme-selector" class="theme-selector"></select>
  </div>
</section>