@import '~styles/var.scss';

.side-bar-header {
  position: relative;
  width: $side-bar-header-width;
  height: 100%;
  overflow: auto;
  z-index: 2;
  .item {
    display: block;
    width: $side-bar-header-width;
    height: $side-bar-header-width;
    line-height: $side-bar-header-width;
    text-align: center;
    mask-size: 30px 30px;
    mask-repeat: no-repeat;
    mask-position: center center;
    cursor: pointer;
    &:hover,
    &.active {
      opacity: 1;
    }
  }
  .theme-selector {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .search {
    mask-image: url(~icons/search.svg);
  }
  [role='menuitem'] {
    a {
      display: block;
      height: $side-bar-header-width;
      mask-repeat: no-repeat;
      mask-position: center center;
      text-indent: -$side-bar-header-width;
      mask-size: 30px 30px;
      transform: opacity;
      opacity: .8;
      &:hover {
        opacity: 1;
      }
    }
  }
  .nav-home a {
    mask-image: url(~icons/home.svg);
  }
  .nav-git a {
    mask-image: url(~icons/git-branch.svg);
  }
}

.side-bar-header,
.blog-header {
  .logo {
    width: $blog-logo-width;
    height: $blog-logo-width;
    margin: 7px auto;
    border-radius: 50%;
    background-size: 100% 100%;
    &:hover {
      animation: logo-breathing 1s infinite alternate;
    }
  }
}
.blog-header {
  display: none;
  padding: 2px 0 10px;
  text-align: center;
  overflow: hidden;
  .logo {
    display: block;
    width: $blog-logo-width + 10px;
    height: $blog-logo-width + 10px;
  }
  .nav-wrap {
    text-transform: uppercase;
    letter-spacing: 1px;
    .nav,
    [role='menuitem'] {
      display: inline-block;
      padding: 0 3px;
      cursor: pointer;
    }
  }
}
@keyframes logo-breathing {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
  }
}
