@import '~styles/var.scss';

.post-content-wrap {
  height: 100%;
  overflow: auto;
  .post {
    padding: 0 30px;
    .post-title {
      font-weight: 700;
      margin-bottom: 0;
    }
    .post-meta {
      margin: 0 0 30px;
      font-style: italic;
    }
    .post-feature-image {
      position: relative;
      height: 366px;
      margin: 0 -30px;
      figure {
        position: relative;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        z-index: 1;
      }
    }
    img {
      max-width: 100%;
    }
  }
  .post-prev-next {
    margin: 15px 30px;
    overflow: hidden;
    span {
      position: relative;
      width: 50%;
      height: 100%;
    }
    .post-prev a:before,
    .post-next a:after {
      content: '';
      position: absolute;
      left: 0;
      top: 7px;
      width: 16px;
      height: 16px;
      background: url(~icons/arrow.svg) no-repeat 0 center;
      background-size: 16px 16px;
    }
    .post-prev {
      float: left;
      padding: 0 0 0 20px;
    }
    .post-next {
      float: right;
      text-align: right;
      padding: 0 20px 0 0;
      a:after {
        left: auto;
        right: 0;
        transform: rotate(180deg);
      }
    }
  }
  #disqus_thread {
    margin: 30px;
  }
}
